.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(11, 7, 17);
    font-size: 14px;
    font-weight: bold;
    color: burlywood;
}
    .nav-container-1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-container-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-container div{
        padding: 1rem;
    }
    .nav-container div:hover{
        background-color: rgb(27, 17, 43);
    }
    .nav-container div:hover{
        background-color: rgb(27, 17, 43);
    }