html{
  height: 100%;
  width: 100%;
  background-color: rgb(41, 35, 51);
}
.App {
  text-align: center;
  width: 100%;
  height: 43.3rem;
}

.contenedor{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
}
  .contenedor img{
    display: grid;
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
  }
.slides {
  position: relative;
  background-color: black;
  justify-content: center;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}