*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(24, 22, 22);
    color:white;
    text-align: center;
}
    header .Title{
        padding: 10px;
        font-size: 60px;
    }
    header nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
        header nav a{
            padding: 10px;
            text-decoration: none;
            color: white;
            font-size: 25px;
            border-radius: 15px;
        }
        header nav a:hover{
            background-color: rgb(53, 52, 52);
        }

main{
    display: flex;
    flex-wrap: wrap;
}

    .main_img{
        height: 500px;
        width: 100%;
        background-image: url(../img/tiger_ii.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Text-section-left{
        margin-top: 15px;
        background-color: rgb(39, 32, 32);
        color: black;
        width: 100%;
        display: flex;
    }
        .Text-section-left .Img{
            background-image: url(../img/panzer_i.png);
            background-size: cover;
            background-repeat: no-repeat;

            height: 360px;
            width: 40%;
        }
            .Text-section-left .Text h2{
                color: white;
                font-size: 40px;
            }
            .Text-section-left .Text p{
                color: white;
                font-size: 20px;
            }
    
    .Text{
        padding: 15px;
        width: 60%;
    }
    .Img2{
        margin-top: 10px;
        height: 400px;
        width: 100%;
        background-image: url(../img/panzer_iv.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Text-section-right{
        background-color: rgb(39, 32, 32);
        color: white;
        width: 100%;
        margin-top: 15px;
        display: flex;
    }
        .Text-section-right .Img{
            height: 360px;
            width: 40%;
            background-image: url(../img/panzer_i.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
                .Text-section-right .Text h2{
                    font-size: 40px;
                }
                .Text-section-right .Text p{
                    font-size: 20px;
                }