.main_img-first-generation{
    height: 500px;
    width: 100%;
    background-image: url(../img/sturmpanzerwagen-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Tank-secction{
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(39, 32, 32);
    color: black;
    width: 100%;
    display: flex;
}
    .Tank-secction .Img{
        /*background-image: url(../img/tanks/firts-generation/sturmpanzerwagen.jpg);*/
        width: 23%;
    }
        .Tank-secction .Img img{
            height: 360px;
            border-radius: 200px;
            width: 100%;
        }
        .Tank-secction .Text h2{
            color: white;
            font-size: 40px;
        }
        .Tank-secction .Text p{
            color: white;
            font-size: 20px;
        }

.Text{
    padding: 15px;
    width: 77%;
}
    .Text h2{
        font-size: 50px;
    }
    .Text p{
        font-size: 200px;
    }