body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 20px;
    color: red;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

h4, h5{
    background-color: black;
    color: yellow;
    width: 300px;
}

p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
}

#second-p{
    background-color: white;
    color: black;
    font-size: 12px;
}

.btn{
    background-color: red;
    color:blue;
    text-align: center;
}